body{
  margin:0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.4px;
  line-height: 23px;
}

p{
	font-family: 'Nunito', sans-serif;
}

h1, h2{
	font-family: 'Nunito', sans-serif;

}

/*---------- HEADER ----------------------------------------*/

.mobile-bar-wrapper{
  display: none;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 54px;
  background-color: #8200FE;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
}

header .headerFlex{
  width:820px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 6px;
  align-items:center;
}


header a{
  position: relative;

  text-decoration:none;
  color: white;
  font-size: 16px;
  padding-left: 20px;

}
header nav a:before{
  content:''; 
  display:block;
  position:absolute;
    top:0;
    bottom: 0;
    left: 20px;
    right: 0;
    height: 227%;
    width:80%;
    margin: auto;
    border-bottom: 5px solid #09DED3;
    transform: scale(0);
    opacity: 0;
}
header a:hover{
  color: #09DED3;
}
header a:hover:before{
  transform: scale(1);
  opacity: 1;
  transition: 0.2s;
}


header img#logo{
  position: relative;
  width:40px;
}

.mobile-bar-wrapper img#logo{
  position: relative;
  width:40px;
  margin-top: 5px;
  margin-left:16px;
}




nav ul {
  width:100%;
  margin-top: 20px;
  padding: 0;

}


nav li{
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
}




/*  ------BIO----------------------------------*/

.bioWrap{
	width:800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 90px auto;
	margin-bottom: 260px;
	padding: 60px 30px;
}

#left{
  text-decoration: none;
}

#left a{
   text-decoration: none;
   color: black;
   font-size: 14px;
}

.BIO:before{
	content: 'Chenghan(Hank) Ke';
	font-size: 30px;
  font-family: 'Montserrat', sans-serif;
	display: block;
	font-weight: bolder;
  letter-spacing: 0.5px;
  line-height: 46px;


}
.BIO p{
	letter-spacing: 0.5px;
  line-height: 24px;
  color:#828282;
}

.BIO a{
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	color: #8200FE;
}

.BIO a:hover{
	text-decoration: none;
	font-size: 15px;
	font-weight: bolder;
	color: #AA57F2;
}

#emoji{
	font-size: 20px;
	text-align: center;
}

#resume:before{
	display: inline;
	content: '📄';
	font-size: 18px;
}
#resume{
  display: inline;
}

#email{
  display: inline;
  margin-left: 20px;
}
#resumeEmail{
  text-align: center;
}

#email:before{
	display: inline;
	content: '✉️';
	font-size: 18px;
}

div.imageContainer{
	display: block;
	width: 200px;
	height: 200px;
	background-color: blue;
	border-radius: 200px;
	/*border-color: black;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.contentCover{
	width:440px;
}




/*---------- Footer ----------------------------------------*/

footer{
	color: white;
	width:100%;
	height: 219px;
	margin-top: 100px;
	background: linear-gradient(#7314C6, #151F67);
}

.footerWrap{
    /*background-color: red;*/
    width: 780px;
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	/*align-items:flex-end;*/
	margin:0 auto;
	padding:30px 0px;
}
p#footerContact{
	opacity: 0.5;
}

p#footerFreelance{
	opacity: 0.5;
	font-size: 13px;
}

p#footerSocial{
/*	margin-left: 20px;*/
	opacity: 0.5;
}

.footerWrap div.socialIcon a{
	text-decoration: none;
	color:white;
	margin-right:20px;
}

.footerWrap div.socialIcon a:hover{
	text-decoration: none;
	color:black;
}

p#footerCopyright{
	/*margin-left: 20px;*/
	font-size: 12px;
	opacity: 0.5;
}

#footerEmail a{
	text-decoration: none;
	color:white;
}



/*----------Break Point(screen 500-820)---------------------*/
@media (min-width:778px)and (max-width:860px){

    header{
    	width:100%;
    }

	header .headerFlex{
		width:90%;
	}

	header .headerFlex nav{
		margin-right: 20px;
	}
    
    /*------hero page*/
    .heroPage{
    	height: auto;
    }
   
   div.heroPage .flexBox{
   	width: 60%;
   	height: auto;
   	/*flex-direction:column;*/
    justify-content: flex-start;
    align-content:center;
   }

   
   p.#bioS{
   	width: 100%;
   }

   #Hello {
   	font-size: 3em;
   	width:100%;
   	line-height: 1em;
   }
   
   .projectFlex{
   	width: 100%; 
   }

   .socialIcon i{
   	margin-left: 0px;
   	margin-right: 20px;
   }

   /*------gallery*/
    .bioWrap{
   	width: 90%; 
   }

 
   /*------footer*/

   div.footerWrap{
   	width: 90%;
      }

   footer{
   	height: auto;
   }
   
 p#footerSocial{
   	margin-left: 0px;
   }

  p#footerCopyright{
   	margin-left: 0px;
   }


}

/*----------Break Point(480  500)---------------------*/

@media screen and (max-width:778px){

    header{
    	display: none;
    }
    

    /*----moblie-showup---*/
    .mobile-bar-wrapper{
    	width: 100%;
    	/*height: 100%;*/
    	/*background: red;*/
    	/*background-size: auto;*/

    	display: block;
    	position: fixed;
    	top: 0px;
    	left: 0px;
    	z-index: 1;
    }
    /*------Header fixed--------------------------------*/
    #headerFlex{
    	height: 54px;
    	background-color:#8200FE;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: space-between;
    	align-items:center;

    }

    #logoContainer{
    	/*background: lightblue;*/

    	width:90px;
    	height:100%;
    	padding-top:10px;
    }
   
    #hamber{
    	width: 40px;
    	height: 40px;
    /*	background: red;*/
    }
    
    /*------menu animation*/
    .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
   }
   .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 7px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    /*--overlay-navigation---------*/

    nav#overlayNavigation{
    	width: 100%;
    	height: 100%;
    	/*background:#5B2788;*/
    	background:#7806FC;
    	opacity: 0.9;
    	/*height:0%;
    	width: 100%;*/
    	display: none;
    	/*transition: 0.5s;*/
    }

	nav ul {
		width:100%;
		height:1080px;
		padding-top: 40%;
    	font-size: 1.3em;
    	margin: 0px;
	}


	nav li{
		padding: 20px 0;
	    display: block;
	    color: white;
	    text-align: center;
	}

	nav li a{
		padding-left: 0px;
		font-size: 1em;
		text-decoration: none;
		color: white;
	}

	nav li a:hover{
		color:grey;
		opacity: 1;
		font-weight: bolder;
	}



/*------hero page-------*/
 
    .bioWrap{
     /* background: red;*/
    	width:100%;
    	height:100%;
     /* margin: 90px auto;*/
      margin: 100px 0;
      padding: 20px 0px;
      justify-content: center;
    }
    .BIO{
      width:100%;
      margin-top:60px; 
    }

    div.contentCover{
      width:80%;
    }


   /*------gallery*/
   
 
   /*------footer*/

   div.footerWrap{
   	width: 90%;
      }

   footer{
   	height: auto;
   }
   
 p#footerSocial{
   	margin-left: 0px;
   }

  p#footerCopyright{
   	margin-left: 0px;
   }
}









