body{
  margin:0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 0.4px;
  line-height: 23px;
}

p{
	font-family: 'Nunito', sans-serif;
}

h1, h2{
	font-family: 'Nunito', sans-serif;
}

hr{
  width: 820px;
  opacity: 0.2;
  text-align: center;
  margin: 20px auto;
}

/*---------- HEADER ----------------------------------------*/

.mobile-bar-wrapper{
  display: none;

}

header{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 54px;
  background-color: #8200FE;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
}

header .headerFlex{
  width:820px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 6px;
  align-items:center;
}


header a{
  position: relative;
  text-decoration:none;
  color: white;
  font-size: 16px;
  padding-left: 20px;
}
header nav a:before{
  content:''; 
  display:block;
  position:absolute;
    top:0;
    bottom: 0;
    left: 20px;
    right: 0;
    height: 227%;
    width:80%;
    margin: auto;
    border-bottom: 5px solid #09DED3;
    transform: scale(0);
    opacity: 0;
}

header a:hover{
  color: #09DED3;
}
header a:hover:before{
  transform: scale(1);
  opacity: 1;
  transition: 0.2s;
}


header img#logo{
  position: relative;
  width:40px;
}

.mobile-bar-wrapper img#logo{
  position: relative;
  width:40px;
  margin-top: 5px;
  margin-left:16px;
}




nav ul {
  width:100%;
  margin-top: 20px;
  padding: 0;

}


nav li{
    display: inline;
    color: white;
    text-align: center;
    text-decoration: none;
}



/*----Font style-------*/
.projectHead{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 900;

}

.subTitle{
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0.5;
  font-weight: 900;

}

.subTitle2{
  font-size: 18px;

  font-family: 'Montserrat', sans-serif;

  font-weight: 900;
  margin-bottom: 0px;

}

.subTitle3{
  font-size: 15px;

  font-family: 'Montserrat', sans-serif;

  font-weight:600;
  margin-bottom: 0px;
}

.text1{
  font-size: 14px;
  font-weight: 400;
  color:#828282;
}

.subScribe{
  font-size: 12px;
  color:#828282;
  font-weight: 200i;
}
 


 /*---------- Main Page ----------------------------------------*/

div#screenWidth{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	width: 100%;
	height:600px;
  margin-top: 54px;
}

.content2{
	width: 360px;
}

.Wrap{
	width: 80%;
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
}

div.wrapInfo{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;

}

/*---GIF COLUM---------------------*/
.oneColumContainer{
  width: 800px;
  margin: 20px auto;
}
.gifWrap{
  margin-top: 40px;
}

img.device{
  position: relative;
  width: 178px;
  margin: 20px 20px;
}

.deviceCover{
  display: inline;
  position: relative;
  /*background-color: red;*/
  width: 100px;
  margin: 40px 20px; 
}

/*--------------END----------------*/
img.bigSize{
 width: 820px;
}
/*-------------title paragraph image----------------*/


/*--------------END----------------*/

/*-------------biggifWrap----------------*/

.biggifWrap{
  width:820px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.barCover{
  position:relative;
  width: 200px;
  margin-right: 20px;
  margin-top: 20px;
}



img.device2{
  /*width: 150px;*/
  width: 190px;
}

p.subScribe{
  font-size: 12px;
  margin-left: 20px; 
  margin-top: 0px;
  width: 150px;
  text-align: left;
}




/*---------- Footer ----------------------------------------*/

footer{
  color: white;
  width:100%;
  height: 219px;
  margin-top: 100px;
  background: linear-gradient(#8200FE, #151F67);
}

.footerWrap{
width: 780px;
display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:flex-end;
	margin:0 auto;
	padding:30px 0px;
}

p#footerContact{
	opacity: 0.5;
}

p#footerFreelance{
	opacity: 0.5;
	font-size: 13px;
}

p#footerSocial{
	opacity: 0.5;
}

.footerWrap div.socialIcon a{
	text-decoration: none;
	color:white;
	margin-right:20px;
}

.footerWrap div.socialIcon a:hover{
	text-decoration: none;
	color:#09DED3;

}

p#footerCopyright{
	font-size: 12px;
	opacity: 0.5;
}

#footerEmail a{
	text-decoration: none;
	color:white;
}


/*----------Break Point(screen 480-820)---------------------*/
@media screen and (max-width:900px){

    header{
      width:100%;
      z-index: 10;
    }

  header .headerFlex{
    width:90%;
  }

  header .headerFlex nav{
    margin-right: 20px;
  }
    
    /*------hero page*/
    .content2{
      width: 90%;
      justify-content: flex-start;
    }

   .wrapInfo{
    width: 90%;
    justify-content: flex-start;
  }
   
   /*------content*/
   .oneColumContainer{
    width: 90%;
   }
   .deviceCover:before{
   }

   img.bigSize{
    width:90%;
   }

   .biggifWrap{
    width:90%;
   }
   
   hr{
      width:90%;
   }
   iframe{
    width: 90%;
   }

 
   /*------footer*/

   div.footerWrap{
    width: 96%;
      }

   footer{
    height: auto;
   }
   
 p#footerSocial{
    margin-left: 0px;
   }

  p#footerCopyright{
    margin-left: 0px;
   }


}

/*----------Break Point(480  500)---------------------*/

@media (min-width:480px)and (max-width:500px){

    header{
      display: none;
    }
    

    /*----moblie-showup---*/
    .mobile-bar-wrapper{
      width: 100%;
      display: block;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 10;
    }
    /*------Header fixed--------------------------------*/
    #headerFlex{
      height: 54px;
      background-color:#8200FE;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items:center;

    }

    #logoContainer{
      /*background: lightblue;*/

      width:40px;
      height:100%;
      padding-top:10px;
    }
   
    #hamber{
      width: 40px;
      height: 40px;
    /*  background: red;*/
    }
    
    /*------menu animation*/
    .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
   }
   .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 7px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    /*--overlay-navigation---------*/

    nav#overlayNavigation{
      width: 100%;
      height: 100%;
      /*background:#5B2788;*/
      background:#7806FC;
      opacity: 0.9;
      /*height:0%;
      width: 100%;*/
      display: none;
      /*transition: 0.5s;*/
    }

  nav ul {
    width:100%;
    height:1080px;
    padding-top: 40%;
      font-size: 1.3em;
      margin: 0px;
  }


  nav li{
    padding: 20px 0;
      display: block;
      color: white;
      text-align: center;
  }

  nav li a{
    padding-left: 0px;
    font-size: 1em;
    text-decoration: none;
    color: white;
  }

  nav li a:hover{
    color:grey;
    opacity: 1;
    font-weight: bolder;
  }



/*------hero page-------*/
 
   

   /*------gallery*/
  
 
   /*------footer*/

   div.footerWrap{
    width: 90%;
      }

   footer{
    height: auto;
   }
   
 p#footerSocial{
    margin-left: 0px;
   }

  p#footerCopyright{
    margin-left: 0px;
   }
}






/*----------Break Point(<480)---------------------*/

@media (max-width:480px){

    header{
      display: none;
    }
    

    /*----moblie-showup---*/
    .mobile-bar-wrapper{
      width: 100%;
      display: block;
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 10;
    }
    /*------Header fixed--------------------------------*/
    #headerFlex{
      height: 54px;
      background-color:#7806FC;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items:center;

    }

    #logoContainer{
      width:90px;
      height:100%;
      padding-top:10px;
    }

    #hamber{
      width: 40px;
      height: 40px;
      /*background: red;*/
    }
    
     /*------menu animation*/
    .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
   }
   .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-8px, 7px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    /*--overlay-navigation---------*/

    nav#overlayNavigation{
      width: 100%;
      /*background:#5B2788;*/
      background:#7806FC;
      opacity: 0.9;
      /*height:0%;
      width: 100%;*/
      display: none;
      /*transition: 0.5s;*/
    }

  nav ul {
    width:100%;
    height:820px;
    padding-top: 40%;
      font-size: 1.3em;
      margin: 0px;
  }


  nav li{
    padding: 20px 0;
      display: block;
      color: white;
      text-align: center;
  }

  nav li a{
    padding-left: 0px;
    font-size: 1em;
    text-decoration: none;
    color: white;
  }

  nav li a:hover{
    color:grey;
    opacity: 1;
    font-weight: bolder;
  }



/*------hero page-------*/
 
  

   /*------gallery*/
 
   /*------footer*/

   div.footerWrap{
    width: 90%;
      }

   footer{
    height: auto;
   }
   
 p#footerSocial{
    margin-left: 0px;
   }

  p#footerCopyright{
    margin-left: 0px;
   }
}











